
<hr>

<div class="footer">
	<div class="container">
		<div class="col-md-4 col_2">
			<h4>关于我们</h4>
			<p>广师资深单身团队倾力打造免费的爱情世界</p>
		</div>
		<div class="col-md-2 col_2">
			<h4>帮助 & 支持</h4>
			<ul class="footer_links">
				<li><a href="https://www.baidu.com">万能搜索</a></li>
				<li><a href="contact">联系我们</a></li>
				<li><a href="faq">问答</a></li>
			</ul>
		</div>
		<div class="col-md-2 col_2">
			<h4>快速链接</h4>
			<ul class="footer_links">
				<li><a href="about">关于我们</a></li>
				<li><a href="services">服务</a></li>
			</ul>
		</div>
		<div class="col-md-2 col_2">
			<h4>社会</h4>
			<ul class="footer_social">
				<li><a href="#"><i class="fa fa-facebook fa1"> </i></a></li>
				<li><a href="#"><i class="fa fa-twitter fa1"> </i></a></li>
				<li><a href="#"><i class="fa fa-google-plus fa1"> </i></a></li>
				<li><a href="#"><i class="fa fa-youtube fa1"> </i></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<div class="copy">
			<p>
				Copyright &copy; 2015.Company name All rights reserved.
			</p>
		</div>
	</div>
</div>