<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace  = "com.meeting.dao.RegisterDao">
	<resultMap id = "People" type = "com.meeting.model.People">
		<id column = "id" property = "id" />
		<result column = "name" property = "userName" />
		<result column = "password" property = "userPassword" />
		<result column = "email" property = "email" />
		<!-- <result column = "date" property = "date" /> -->
		<result column = "sex" property = "sex"/>
	</resultMap>
	
	<insert id = "register" parameterType = "com.meeting.model.People">
		insert into t_user (name, password, email, sex) values (#{userName}, #{userPassword}, #{email}, #{sex})
	</insert>
	
	<select id="verify" resultMap = "People">
		select * from t_user where email = #{email}
	</select>
	
	<select id = "userId" resultType = "java.lang.Integer">
		select id from t_user where name = #{userName}
	</select>
</mapper>