<!DOCTYPE HTML>
<html>
<head>
<title>注册</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Marital Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 


</script>
<link href="/Meeting/static/css/bootstrap-3.1.1.min.css"
	rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/Meeting/static/js/jquery.min.js"></script>
<script src="/Meeting/static/js/bootstrap.min.js"></script>
<script src="/Meeting/static/js/date.js"></script>
<!-- Custom Theme files -->
<link href="/Meeting/static/css/style.css" rel='stylesheet'
	type='text/css' />

<!----font-Awesome----->
<link href="/Meeting/static/css/font-awesome.css" rel="stylesheet">
<!----font-Awesome----->
<script>
	$(document).ready(function() {
		$(".dropdown").hover(function() {
			$('.dropdown-menu', this).stop(true, true).slideDown("fast");
			$(this).toggleClass('open');
		}, function() {
			$('.dropdown-menu', this).stop(true, true).slideUp("fast");
			$(this).toggleClass('open');
		});
	});
</script>
</head>
<body>
	#parse("common/header.vm")
	 #if($error)
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert">
                &times;
            </a>
            <strong><h1>错误:</h1></strong>
            <h3>${error}</h3>
        </div>
    #end
	<div class="grid_3">
		<div class="container">
			<div class="breadcrumb1">
				<ul>
					<a href="/Meeting"><i class="fa fa-home home_1"></i></a>
					<span class="divider">&nbsp;|&nbsp;</span>
					<li class="current-page">注册</li>
				</ul>
			</div>
			<div class="services">
				<div class="col-sm-6 login_left">
					<form name="reg_testdate" action = "register" method = "post">
						<div class="form-group">
							<label for="edit-name">Username <span
								class="form-required" title="This field is required.">*</span></label> <input
								type="text" id="edit-name" name="userName" value="" size="60"
								maxlength="60" class="form-text required">
						</div>
						<div class="form-group">
							<label for="edit-pass">Password <span
								class="form-required" title="This field is required.">*</span></label> <input
								type="password" id="edit-pass" name="userPassword" size="60"
								maxlength="128" class="form-text required">
						</div>
						<div class="form-group">
							<label for="edit-name">Email <span class="form-required"
								title="This field is required.">*</span></label> <input type="text"
								id="edit-name" name="email" value="" size="60" maxlength="60"
								class="form-text required">
						</div>
						
						<tr class="opened">
							<td class="day_label">性别 :</td>
							<td class="day_value"><input type="radio" name="sex"
								value="男"> 男 <input type="radio" name="sex" value="女"
								checked=""> 女</td>
						</tr>

						<div class="form-actions">
							<input type="submit" id="edit-submit" name="op" value="Submit"
								class="btn_1 submit">
						</div>
					</form>
				</div>
				<div class="col-sm-6">
					<ul class="sharing">
						<li><a href="#" class="facebook" title="Facebook"><i
								class="fa fa-boxed fa-fw fa-facebook"></i> Share on Facebook</a></li>
						<li><a href="#" class="twitter" title="Twitter"><i
								class="fa fa-boxed fa-fw fa-twitter"></i> Tweet</a></li>
						<li><a href="#" class="google" title="Google"><i
								class="fa fa-boxed fa-fw fa-google-plus"></i> Share on Google+</a></li>
						<li><a href="#" class="linkedin" title="Linkedin"><i
								class="fa fa-boxed fa-fw fa-linkedin"></i> Share on LinkedIn</a></li>
						<li><a href="#" class="mail" title="Email"><i
								class="fa fa-boxed fa-fw fa-envelope-o"></i> E-mail</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	#parse("common/footer.vm")
</body>
</html>